body {
	font-family: sans-serif;
	font-size: 14pt;
	color: #444;
}
header {
	height: 40px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 22px 0px 18px 10px;
}
.name h1 {
	float: left;
	display: inline-block;
	width: 200px;
	color: rgb(104, 234, 104);
}
h1 {
	color: rgb(104, 234, 104);
	font-size: 24pt;
}
ul {
	display: inline-block;
	float: right;
}
ul li {
	display: inline-block;
}
ul li a {
	display: block;
	padding: 10px 15px;
	color: rgb(104, 234, 104);
	text-decoration: none;
	color: #444;
}
ul li:hover a {
	color: #fff;
	background: rgb(104, 234, 104);
}
ul li:last-child a {
	color: rgb(104, 234, 104);
}
ul li:last-child:hover a {
	color: #fff;
}
.main {
	height: 700px;
	background: rgb(104, 234, 104);
}

